{% extends 'base.html' %}
{% block content %}
    <h2>{{ poll }}</h2>
    <form action="" method="POST">
    {% csrf_token %}
        {% for choice in poll.choices.all %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="answer{{ choice.pk }}" value="{{ choice.pk }}" checked>
                <label class="form-check-label" for="answer{{ choice.pk }}">
                    {{ choice }}
                </label>
            </div>
        {% endfor %}
        <div class="mt-3">
            <input type="submit" value="Ответить" class="btn btn-success">
            <a href="{% url 'index' %}" class="btn btn-primary">Cancel</a>
        </div>
    </form>
{% endblock %}