{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block menu %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "poll_update" poll.pk %}">Edit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "poll_delete" poll.pk %}">Delete</a>
    </li>
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ poll.question }}</h1>
            <p class="lead">Created at {{ poll.created_date|date:'d.m.Y H:i:s' }}</p>
        </div>
    </div>

    <h3>All answers:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    <ul class="list-group">

        {% for choice in poll.choices.all %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="p-2 bd-highlight">
                        {{ choice.text }}
                    </div>
                    <div class="p-2 bd-highlight">
                        <a href="{% url 'choice_update' poll.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'choice_delete' poll.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </li>
{#            </div>#}
        {% empty %}
            <p>No answers yet.</p>
        {% endfor %}
    </ul>

    <div class="d-flex justify-content-between align-items-center">
        <div class="p-2 bd-highlight">
            <a href="{% url 'poll_choice_create' poll.pk %}" class="btn btn-success">Add New Answer</a>
        </div>
    </div>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    <form action="{% url 'poll_choice_create' poll.pk %}" method="POST" id="add_choice">
        {% include 'partial/form.html' with button_text='Add' %}
    </form>

{% endblock %}

